@font-face {
    font-family: 'norsebold';
    src: url('../fonts/norse-bold-webfont.woff2') format('woff2'),
         url('../fonts/norse-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

:root{
    font-family: Arial, Helvetica, sans-serif;
}

body{
    margin: 0;
}

.signup{
    display: flex;
    height: 100vh;
}

.logo-container{
    background-image: url("../images/background.jpg");
    background-size: cover;
    flex: 2;
    text-align: center;
    display: flex;
    flex-direction: column;
}

.logo{
    align-items: center;
    justify-content: center;
    height: 140px;
    margin-top: 200px;
    display: flex;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    margin-bottom: auto;
}

.logo img{
    height: 90%;
}

.logo h1{
    font-family: "norsebold";
    font-size: 90px;
    margin: 0;
}

.logo-container > p{
    width: 100%;
    font-size: 12px;
    color: white;
}

.logo-container a, .logo-container a:visited{
    color: white;
}

.form-container{
    flex: 3;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: rgb(248, 248, 248);   
}

.text p, .form-container legend{
    font-weight: 700;
    font-size: 24px;
}

.text, form > button, .form-container > p{
    margin: 0 70px;
    margin-bottom: 50px;
}

form > div{
    background-color: rgb(255, 255, 255);
    height: 250px;
    padding: 15px 70px;
    margin-bottom: 50px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    box-shadow: 1px 1px 8px rgb(163, 163, 163);
}

.form-row{
    display: flex;
    gap: 100px;
}

.form-row > div{
    display: flex;
    flex-direction: column;
}

label{
    letter-spacing: 2px;
    font-size: 12px;
    color: rgb(66, 66, 66);
    font-weight: 600;
}

input{
    width: 230px;
    font-size: 14px;
    height: 25px;
    border: solid 1px #E5E7EB;
    outline: none;
    border-radius: 5px;
}

input:placeholder-shown:invalid{
    border-color: #E5E7EB;
}

input[type="password"]:invalid{
    border-color: red;
}

input:invalid{
    border-color: red;
}

input:valid{
    border-color: green;
}

input:focus, input[type="password"]:focus{
    box-shadow: 1px 1px 5px rgb(134, 134, 134);
    border-color: blue;
}

button{
    color: white;
    background-color: #596D48;
    font-size: 20px;
    border-radius: 10px;
    border: none;
    padding: 10px 40px;
    cursor: pointer;
}

button:hover{
    background-color: #455538;
}

.form-container a, .form-container a:visited{
    text-decoration: none;
    color: #596D48;
}

.form-container a:hover{
    text-decoration: underline;
}